:root {
    --white: #FAFAFA;
    --black: #000000;
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --font-family: "Inter", sans-serif;
    --font-youg: "Young", sans-serif;
}

/* Eliminar el modelo caja de css para medidas */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--white);
    font-family: var(--font-family);
}

.subtitle {
    font-family: var(--font-youg);
    font-size: 4rem;
}

.text {
    color: var(--slate-600);
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.main-container {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 6rem 0;
}

.first-section {
    width: 100%;
    height: 50vh;
}

.second-card {
    flex-direction: column;
    gap: 2rem;
}

.second-section {
    max-width: 80%;
}

.button-container {
    display: flex;
    gap: 6rem;
}

.download-button,
.info-button {
    padding: 1rem 4rem;
    border: none;
    border-radius: 8rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.number-section {
    font-size: 8rem
}


.images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.images-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}




/* Media Queries */

/*Celular*/
@media (max-width: 490px) {
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .main-container {
        width: auto;
        min-height: 100vh;
        margin: 0;
    }
}